version: 2.1

orbs:
  utils: ethereum-optimism/circleci-utils@dev:first
  node: circleci/node@5.1.0

parameters:
  run_job:
    type: enum
    default: "select_job"
    enum:
      [
        "select_job",
        "generate-token-list"
      ]

commands:
  setup-node-env:
    parameters:
      node_version:
        type: string
        default: "16.x"
      pnpm_version:
        type: string
        default: "8.6.0"
    steps:
      - run:
          name: Install pnpm
          command: |
            npm install -g pnpm@<< parameters.pnpm_version >>
      - run:
          name: Install dependencies
          command: pnpm install --frozen-lockfile

jobs:
  generate-token-list:
    machine:
      image: ubuntu-2204:2024.08.1
    steps:
      - checkout
      - setup-node-env
      - run:
          name: Update version and generate token list
          command: |
            # Patch version and generate token list
            npm version patch
            pnpm generate:ci
      - run:
          name: Check if push to branch run by a non github user
          command: |
            # skip commit if push to branch run by a non github user
            PERFORM_COMMIT="true"
            if [ -z "$CIRCLE_USERNAME" ]; then
              echo "CIRCLE_USERNAME is not set"
              export PERFORM_COMMIT="false"
            fi
            echo "export PERFORM_COMMIT=$PERFORM_COMMIT" >> $BASH_ENV
            # skip commit if there are no differences in optimism.tokenlist.json
            if [ -z "$(git diff optimism.tokenlist.json)" ]; then
              echo "No changes detected in optimism.tokenlist.json"
              export PERFORM_COMMIT="false"
            fi
            echo "export PERFORM_COMMIT=$PERFORM_COMMIT" >> $BASH_ENV
      - utils/github-commit-and-push-changes-single-file:
          commit-username: "mergify[bot]"
          commit-email: "mergify[bot]@users.noreply.github.com"
          commit-message: "bot(ci): generate token list"
          skip-ci: true
          file: "optimism.tokenlist.json"
          condition: "$PERFORM_COMMIT" # will skip if push to branch run by a non github user

  publish-bot:
      docker:
        - image: cimg/node:16.20
      steps:
        - checkout

        - run:
            name: Install pnpm
            command: |
              sudo npm install -g pnpm@8.6.0
        - run:
            name: Setup NPM authentication
            command: |
              echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
              echo "@eth-optimism:registry=https://registry.npmjs.org/" >> ~/.npmrc
              echo "always-auth=true" >> ~/.npmrc
        - run:
            name: Install dependencies
            command: pnpm install --frozen-lockfile

        - run:
            name: Build and publish package
            command: pnpm release
  stale:
      machine:
        image: ubuntu-2204:2024.08.1
      steps:
        - utils/github-stale:
            stale-issue-message: 'This issue has been automatically marked as stale and will be closed in 7 days if no updates'
            stale-pr-message: 'This pr has been automatically marked as stale and will be closed in 7 days if no updates'
            close-issue-message: 'This issue was closed as stale.  Please reopen if this is a mistake'
            close-pr-message: 'This PR was closed as stale.  Please reopen if this is a mistake'
            days-before-issue-stale: 100
            days-before-pr-stale: 30
            days-before-issue-close: 114
            days-before-pr-close: 37

  test-master-only:
    docker:
      - image: cimg/node:16.20
    steps:
      - utils/continue-only-if-branch-or-pr-to-branch:
          branch: master
      - checkout
      - setup-node-env
      - run:
          name: Run Tests
          command: pnpm test

workflows:
  generate-token-list-workflow:

    when:
      or:
        - equal: [<< pipeline.parameters.run_job >>, "generate-token-list"]
        - and:
            - equal: [<< pipeline.git.branch >>, "master"]
            - not:
                equal: [<< pipeline.trigger_source >>, "api"]
    jobs:
      - generate-token-list:
          context: circleci-repo-ethereum-optimism.github.io
          filters:
            branches:
              only: master
      - publish-bot:
          context: circleci-repo-ethereum-optimism.github.io
          requires:
            - generate-token-list

  stale-workflow:
    when:
      equal: [<< pipeline.schedule.name >>, "run_daily"]
    jobs:
      - stale:
          context: circleci-repo-ethereum-optimism.github.io

  test-workflow:
    jobs:
      - test-master-only:
          context: circleci-repo-ethereum-optimism.github.io
